<%- include('../includes/header.ejs')%>
    <div class="h-100 row d-flex flex-column align-items-center">
        <div class="row">
            <div class="mb-auto d-none d-sm-block">
                <%- include('../includes/navigation.ejs')%>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div id="contentDiv" class="col">
                <table class="table table-striped-columns">
                    <thead>
                        <th class="text-center">Account No</th>
                        <th class="text-center">Name</th>
                        <th class="text-center">Balance</th>
                    </thead>
                    <%! accounts.forEach(account=> {%>
                        <tr>
                            <td class="text-center"><a class="btn" href="/account/<%=account.ID%>">
                                    <p class="p-1">
                                        <button class="btn btn-dark">
                                            <%=account.ID%>
                                        </button>
                                    </p>
                                </a> </td>
                            <td class="text-center">
                                <p class="p-1">
                                    <%=account.accountName%>
                                </p>
                            </td>
                            <td class="text-center">
                                <p class="p-1">
                                    <%=account.balance%>
                                </p>
                            </td>
                        </tr>
                        <%})%>
                </table>
            </div>
        </div>
        <br><br>
        <div class="col d-block d-sm-none fixed-bottom">
            <%- include('../includes/navigation.ejs')%>
        </div>
    </div>
    <%- include('../includes/errorMessage.ejs')%>
        <%- include('../includes/userMessage.ejs')%>
            <%- include('../includes/footer.ejs')%>