<table class="table table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>
                ID
            </th>
            <th style="max-width: 125px; word-wrap: break-word;">
                Transaction Details
            </th>
            <th>
                Amount
            </th>
        </tr>
    </thead>
    <tbody>
        <%! transactions.forEach(transaction=> {%>
            <tr>
                <td class="text-center">
                    <%=transaction.ID%>
                </td>
                <td style="max-width: 125px; word-wrap: break-word;" class="text-center">
                    <% if(transaction.amount < 0){%>
                        <%=transaction.creditor.user.username%><br>Account No :
                            <%=transaction.creditorID%>
                                <br>
                                <%if(user.beneficiaries.find(beneficiary=> beneficiary.accountID ==
                                    transaction.creditorID)){%>
                                    <%=user.beneficiaries.find(beneficiary=> beneficiary.accountID ==
                                        transaction.creditorID).nickname%>
                                        <% }else if(user.accounts.find(account=> account.ID ==
                                            transaction.debtorID)){%>
                                            <%=user.accounts.find(account=> account.ID ==
                                                transaction.debtorID).accountName%>
                                                <%}%>
                                                    %>
                                                    <%}else{%>
                                                        <%=transaction.debtor.user.username%><br>Account No :
                                                            <%=transaction.debtorID%>
                                                                <br>
                                                                <%if(user.beneficiaries.find(beneficiary=>
                                                                    beneficiary.accountID
                                                                    ==
                                                                    transaction.debtorID)){%>
                                                                    <%=user.beneficiaries.find(beneficiary=>
                                                                        beneficiary.accountID ==
                                                                        transaction.debtorID).nickname%>
                                                                        <% }else if(user.accounts.find(account=>
                                                                            account.ID ==
                                                                            transaction.debtorID)){%>
                                                                            <%=user.accounts.find(account=> account.ID
                                                                                ==
                                                                                transaction.debtorID).accountName%>
                                                                                <%}%>
                                                                                    <%}%>
                </td>
                <td class="text-center">
                    <%=transaction.amount%>
                </td>
            </tr>
            <%})%>
    </tbody>

</table>